@media (min-width:1536px ) {
    #s-nav-1 #s_demo{
        display: none;
    }
}
/* ------------------------------------------  */
@media (max-width: 1367px) { 
    #s-nav-1 #s_demo{
        display: block;
        color: #1face1;
        margin-left: 10px;
    }
    .offcanvas-header{
        background-color: #1e2930;
        color: white;
    }
    .offcanvas-header .btn-close{
        background-color: white;
    }
    .offcanvas-header .btn-close{
        font-size: 12px;
    }
    .offcanvas {
        max-width: 20%;
    }
    .offcanvas-header{
        background-color: #1e2930;
        color: white;
    }
    .offcanvas-header .btn-close{
        background-color: white;
    }
    .offcanvas-header .btn-close{
        font-size: 12px;
    }
    .offcanvas-title{
        font-size: 24px;
    }
    #demo{
        background-color: rgb(62 79 90 / 50%);
    }
    #demo .s_menu{
        padding-left: 0;
    }
    #demo .s_menu li{
        list-style-type: none;
        margin: 20px 0;
        position: relative;
    }
    #demo .s_menu li a{
        color: white;
    }
    #demo .s_menu li::before{
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        background-color: #1face1;
        bottom: 0;
        transition: 0.5s;
    }
    #demo .s_menu li:hover::before{
        width: 30%;
    }
    #demo .s_menu li:hover a{
        color: #1face1;
    }

    .header{
        padding: 0 30px;
    }
    #s-nav-1 ul.s_menu{
        display: none;
    }
    .header .s-search-1{
        height: 50vh;
    }
    .s-info{
        display: none;
    }
    .s-aboutus-1 .s_tittle{
        font-size: 32px;
    }
    .s-featureclass-1 .s_nep .s_tittle h3{
        font-size: 32px;
    }
    .slick-dots li button{
        margin: 10px 2px;
    }
    .s-footer-1 .s_social i{
        margin: 9px;
    }
}
/* -------------------------------------------------  */
@media (max-width: 1024px) {
    /* icon click open menu  */
    #s-nav-1 #s_demo{
        display: block;
        color: #1face1;
        margin-left: 10px;
    }
    /* menu side left  */
    #s-nav-1 .s_menu{
        display: none;
    }
    #demo{
        background-color: rgb(62 79 90 / 50%);
    }
    #demo .s_menu{
        padding-left: 0;
    }
    #demo .s_menu li{
        list-style-type: none;
        margin: 20px 0;
        position: relative;
    }
    #demo .s_menu li::before{
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        background-color: #1face1;
        bottom: 0;
        transition: 0.5s;
    }
    #demo .s_menu li:hover::before{
        width: 30%;
    }
    #demo .s_menu li:hover a{
        color: #1face1;
    }
    .s-feedback-1{
       display: none;
    }
    .slick-dots li button{
        margin: 10px 0px;
    }
    #demo .s_menu li a{
        color: white;
        transition: 0.5s;
    }
    /* menu header  */
    .header {
        padding: 0px 30px;
    }
    /* button header  */
    .btn-2 {
        padding: 15px;
    }
    /* s-info  */
    .s_banner_1 .s-info {
        display: none;
    /* item animation  */
    }   
    .s_banner_1 .s_anima .s_left {
        left: 18%;
    }
    /* path aboutus button  */
    .s-aboutus-1 button{
        margin-top: 30px;
    }
    /* path  blog  */
    .s-blog-1 .s_card h3 {
        font-size: 16px;
    }
    .s-blog-1 .s_card .more a {
        font-size: 14px;
        padding: 2px;
        width: 100px;
    }
    .s-blog-1 .s_card .info {
        font-size: 14px;
    }
    .s-featureclass-1 .s_child img{
        display: none;
    }
    .s-featureclass-1 .s_nep{
        padding: 0;
    }
    .s-blog-1 .s_card h3{
        margin-top: 13px;
    }
    /* footer  */
    .s-footer-1 img{
        width: 50px;
        margin: 0 33px;
    }
    .s-footer-1 #s_brand p{
        font-size: 20px;
    }
    .s-footer-1 #s_brand p.s_text{
        font-weight: 500;
        font-size: 18px;
    }
    .s-footer-1 .container-fluid:first-child{
        padding-bottom: 15px;
    }
    .s-footer-1 .social{
        padding-left: 0;
    }
    #s-nav-1 .s_social_1 ul li:first-child{
        display: none;
    }
    #s-nav-1 .s_social_1 ul li:nth-child(2){
        display: none;
    }
    #s-nav-1 .s_social_1 ul li:nth-child(3){
        display: none;
    }
    .btn-2{
        padding: 10px;
    }
    #s-nav-1 .s_social_1{
        margin-right: 0;
    }
    .s-table{
        overflow: auto;
    }
    .s-schedule-1 table{
        width: 1000px;
    }
}
/* -----------------------------------------  */
@media (max-width: 768px){
    .header {
        padding: 0px 10px;
    }
    /* search  */
    .header .s-search-1 img{
        width: 50px;
    }
    .header .s-search-1{
        height: 40vh;
    }
    .header .s-search-1 .s_subsearch #s_searchinput{
        right: 177px;
    }
    .s-feedback-1{
        display: none;
     }
    .header .s-search-1 .s_subsearch .s_close {
        right: 190px;
        top: 4px;
        font-size: 30px;
    }
    .header .s-search-1 input{
        width: 500px;
        margin: 0 auto;
    }
    #s-nav-1 .s_logo_1 img{
        width: 40px;
        margin-top: 5px;
    }
    .header #s-nav-1 .s_logo_1 p{
        font-size: 16px;
    }
    #s-nav-1 .s_social_1 ul li i{
        font-size: 16px;
    }
    #s-nav-1 .s_social_1 ul li:first-child{
        display: none;
    }
    #s-nav-1 .s_social_1 ul li:nth-child(2){
        display: none;
    }
    #s-nav-1 .s_social_1 ul li:nth-child(3){
        display: none;
    }
    .btn-2{
        padding: 10px;
    }
    #s-nav-1 .s_social_1{
        margin-right: 0;
    }
    .btn-2 span{
        font-size: 12px;
    }
    .s_banner_1 .s-text-banner1 {
        top: 50%;
    }
    .s_banner_1 .s-text-banner1 .s_tittle {
        color: #1face1;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 5px;
    }
    .s_banner_1 .s-text-banner1 .sub_tittle {
        font-size: 50px;
        letter-spacing: 5px;
        line-height: 50px;
    }
    .s_banner_1 .s_action {
        font-size: 12px;
        margin-top: 10px;
    }
    .s_banner_1 .s_anima .s_left{
        width: 50px;
        left: 25%;
    }
    .s_banner_1 .s_anima .s_right {
        width: 50px;
        top: 63%;
        right: 19%;
    }
    /* about us  */
    .s-aboutus-1 .s_who{
        font-size: 16px;
    }
    .s-aboutus-1 .s_tittle {
       font-size: 24px;
    }
    .s-aboutus-1 .s_content{
        font-size: 14px;
    }
    .s-aboutus-1 .s_detail{
        font-size: 14px;
    }
    .s-aboutus-1 button{
        font-size: 12px;
    }
    /* class  */
    .s-featureclass-1 .s_nep .s_introduce{
        font-size: 16px;
    }
    .s-featureclass-1 .s_nep .s_tittle h3 {
        font-size: 24px;
    }
    .s-featureclass-1 .s_nep .s_card h4{
        font-size: 16px;
    }    
    .s-featureclass-1 .s_nep .s_card p{
        font-size: 14px;
    }
    .s-featureclass-1 .s_nep .s_card span{
        font-size: 12px;
    }
    .s-schedule-1 .s_introduce{
        font-size: 16px;
    }
    .s-schedule-1 .s_tittle{
        font-size: 24px;
    }
    .s-table{
        overflow: auto;
    }
    .s-schedule-1 table{
        width: 1000px;
    }
    .s-schedule-1 table, th{
        padding: 5px;
    }
    .s-schedule-1 table th {
        font-size: 12px;
        width: 90px;
        height: 50px;
    }
    .s-schedule-1 table td {
        font-size: 10px;
    }
    .s-trainer-1 .s_head_trainer .s_introduce{
        font-size: 16px;
    }
    .s-trainer-1 .s_head_trainer .s_tittle{
        font-size: 24px;
    }
    .s-trainer-1 .s-detail{
        font-size: 14px;
    }
    .s-trainer-1 #s_card_trainer .s_info_trainer .s_name{
        font-size: 16px;
    }
    .s-client-1 .s_info_client .s_tittle{
        font-size: 24px;
    }
    .s-blog-1 .s_tittle{
        font-size: 24px;
    }
    .s-blog-1 .s_card h3{
        font-size: 12px;
    }
    .s-blog-1 .s_card .more a{
        font-size: 12px;
    }
    .s-blog-1 .s_card .more a:hover{
        width: 100px;
    }
    .s-footer-1 #s_brand p.s_text{
        font-size: 14px;
    }
    .s-footer-1 h3{
        font-size: 16px;
    }
}
/* ------------------------------------------  */
@media (max-width: 600px){
    .s-feedback-1{
        display: none;
     }
    .header {
        padding: 0px 0px;
    }
    #s-nav-1 .s_social_1 ul li {
        margin: 10px 15px;
    }
    #s-nav-1 .s_logo_1 img {
        width: 30px;
        margin-top: 5px;
    }
    .header #s-nav-1 .s_logo_1 p {
        font-size: 12px;
    }
    .btn-2 {
        padding: 5px;
    }
    .btn-2 span {
        font-size: 10px;
    }
    .s_banner_1 .s-text-banner1 .s_tittle {
        font-size: 18px;
    }
    .s_banner_1 .s-text-banner1 .sub_tittle {
        font-size: 30px;
        line-height: 10px;
    }
    .offcanvas-header {
        padding: 10px;
    }
    .offcanvas-title {
        font-size: 18px;
    }
    .offcanvas-header .btn-close {
        font-size: 10px;
    }
    #demo .s_menu li a {
        font-size: 12px;
    }
    .offcanvas-body {
        padding: 0 10px;
    }
    .btn-2:hover:before {
        transform: translate(-41%, 5px);
    }
    .btn-2:hover:after {
        transform: translate(42%, -53px);
    }
    .btn-2:after {
        border-left: 49px solid transparent;
        border-top: 80px solid #1face1;
    }
    .header.active {
        width: 100%;
    }
    .s-trainer-1 #s_card_trainer .s_social ul {
       font-size: 12px;
        padding: 0px 10px;
    }
    .s-table{
        overflow: auto;
    }
    .s-schedule-1 table{
        width: 1000px;
    }
}

/* ---------------------------------------------------  */
@media (max-width: 413px){
    .s-feedback-1{
        display: none;
     }
    .header {
        padding: 0;
    }
    .s-table{
        overflow: auto;
    }
    .s-schedule-1 table{
        width: 1000px;
    }
    #s-nav-1 .s_logo_1 img {
        width: 30px;
        margin-top: 3px;
    }
    .header #s-nav-1 .s_logo_1 p {
        font-size: 12px;
    }
    .btn-2 span {
        font-size: 10px;
    }
    #s-nav-1 .s_social_1 ul li {
        display: inline-block;
        margin: 10px 15px;
    }
    .btn-2 {
        padding: 3px;
    }
    .s_banner_1 .s-text-banner1 {
        top: 50%;
    }
    .s_banner_1 .s-text-banner1 .s_tittle {
        font-size: 12px;
    }
    .s_banner_1 .s-text-banner1 .sub_tittle {
        font-size: 18px;
        letter-spacing: 5px;
        line-height: 10px;
    }
    .s_banner_1 .s_anima .s_left {
        width: 30px;
    }
    .s_banner_1 .s_anima .s_right {
        width: 30px;
        top: 60%;
        right: 20%;
    }
    .s_banner_1 .s_action {
        display: none;
    }
    .offcanvas-title {
        font-size: 18px;
    }
    .offcanvas-header .btn-close {
        font-size: 8px;
    }
    #demo .s_menu li a {
        font-size: 12px;
    }
    .offcanvas-body {
        padding-top: 0;
    }
    .header .s-search-1 input {
        width: 375px;
    }
    .header .s-search-1 .s_subsearch #s_searchinput {
        right: 240px;
    }
    .header .s-search-1 .s_subsearch .s_close {
        right: 254px;
        top: 10px;
        font-size: 25px;
    }
    .s-aboutus-1 .s_who {
        font-size: 12px;
    }
    .s-aboutus-1 .s_tittle {
        font-size: 18px;
    }
    .s-aboutus-1 .s_content {
        font-size: 12px;
    }
    .s-aboutus-1 button {
        margin: 10px 0;
    }
    .s-aboutus-1 {
        margin-top: 20px;
    }
    .s-featureclass-1 {
        margin-top: 20px;
    }
}