.img-ratio--48::before {
    padding-bottom: 38%;
}
#s-nav-1 .s_social_1 button:hover {
    background-color: #1face1;
    color: white;
}
#s-nav-1 .s_social_1 button i {
    margin-left: 10px;
}
.s_banner_1 {
    background-color: #222d35;
}
.s_banner_1 .s-text-banner1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    z-index: 1;
}
.s_banner_1 .s-text-banner1 .s_tittle {
    color: #1face1;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
}
.s_banner_1 {
    position: relative;
}
.s_banner_1 .s-text-banner1 .sub_tittle {
    color: white;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.2px;
    /* line-height: 100px; */
}
.modal-header h1 {
    font-weight: 800;
    color: white;
}
.modal-header .btn-close {
    background-color: white;
}
.modal-body input {
    width: 400px;
    padding: 10px 5px;
}
.modal-body label {
    color: white;
    margin: 10px 0;
}
.modal-content {
    background-color: #222d35;
}
.modal-body input:last-child {
    width: 100px;
    background-color: #1face1;
    color: white;
    border: none;
    padding: 10px;
}
/* end header  */
/* card gold  */
.s-card-1 {
    margin-top: 30px;
}
.s-card-1 .s_tittle .sub {
    color: #e1b000;
    font-weight: 800;
    font-size: 43px;
}
.s-card-1 .s_tittle .sub-1 {
    color: #d53100;
    font-weight: 800;
    font-size: 43px;
}
.s-card-1 .s_tittle .sub-2 {
    color: #af48af;
    font-weight: 800;
    font-size: 43px;
}
.s-card-1 .s_tittle {
    /* color: #1face1; */
    font-weight: 400;
    font-size: 30px;
}
.s-card-1 .s-item img {
    width: 400px;
}
.s-card-1 .col-xl-3:last-child {
    margin-left: 100px;
}
.s-card-1 .s-item h5 {
    margin: 10px 0;
    color: #222d35;
    font-weight: 800;
}
/* end card gold  */
/* bengin footer  */
.s-footer-1 {
    background-image: url(../img/footer.png);
    background-color: #222d35;
    background-position: center center;
    padding: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin-top: 50px;
}
.s-footer-1 img {
    width: 90px;
}
.s-footer-1 #s_brand span {
    color: #1face1;
    font-size: 30px;
    font-weight: 800;
    display: inline-block;
}
.s-footer-1 #s_brand .s_text {
    color: white;
    margin-top: 30px;
}
.s-footer-1 h3 {
    color: white;
    font-size: 20px;
    font-weight: 800;
}
.s-footer-1 ul {
    padding: 0;
}
.s-footer-1 li {
    list-style-type: none;
    color: white;
    padding: 15px 0;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}
.s-footer-1 li:hover {
    color: #1face1;
}
.s-footer-1 li i {
    margin-right: 10px;
    position: absolute;
    right: 40px;
    transition: 0.5s;
    font-size: 20px;
}
.s-footer-1 li:hover i {
    right: 10px;
    color: #1face1;
}
.s-footer-1 form {
    margin-top: 30px;
}
.s-footer-1 form input {
    color: #434c53;
    padding: 15px;
    outline: none;
}
.s-footer-1 form label {
    display: block;
    color: white;
    background-color: #1face1;
    padding: 15px;
    width: 120px;
    font-size: 13px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}
.s-footer-1 form label:hover {
    transform: scale(0.99);
    opacity: 0.8;
}
.s-footer-1 .container-fluid:first-child {
    border-bottom: 1px solid #434c53;
}
.s-footer-1 .s-subfooter-1 {
    color: white;
    margin-top: 30px;
}
/* end footer  */
