/* begin aboutus */
.s-trainer-1 {
    margin-top: 50px;
}
.s-trainer-1 .s_who {
    color: #1face1;
    margin-bottom: 10px;
    font-weight: 800;
}
.s-trainer-1 .s_tittle {
    font-weight: bold;
    color: #222d35;
    font-size: 40px;
    border-bottom: 1px solid #434c53;
    margin-bottom: 10px; padding-bottom: 30px;
}
.s-trainer-1 .s_detail i {
    color: #1face1;
    margin-right: 5px;
}
.s-trainer-1 .s_detail1 i {
    color: #1face1;
    margin-right: 5px;
}
.s-trainer-1 .s_detail1 {
    margin-bottom: 30px;
}
.s-trainer-1 button {
    color: white;
    background-color: #222d35;
    padding: 10px 20px;
    transition: 0.5s;
    border: none;
}
.s-trainer-1 button:hover {
    background-color: #1face1;
}
.s-trainer-1 .s-thump img {
    width: 500px;
}
/* end about us  */

.s_banner_1 .s-text-banner1 {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #1face1;
    z-index: 1;
}
.s_banner_1 .s-text-banner1 .s_tittle {
    color:#1face1;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 5px;
}
.s_banner_1 .s-text-banner1 .sub_tittle{
    color: white;
    font-size: 45px;
}
.s_banner_1 {
    position: relative;
}
.s_banner_1 img {
    width: 100%;
}
.s_banner_1 .s_action {
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 30px;
}
.s_banner_1 .s_action:hover {
    color: #1face1;
}
.s_banner_1 .s_action i {
    border: 1px solid white;
    border-radius: 50%;
    padding: 15px;
    margin-right: 10px;
}
.modal-header h1 {
    font-weight: 800;
    color: white;
}
.modal-header .btn-close {
    background-color: white;
}
.modal-body input {
    width: 400px;
    padding: 10px 5px;
}
.modal-body label {
    color: white;
    margin: 10px 0;
}
.modal-content {
    background-color: #222d35;
}
.modal-body input:last-child {
    width: 100px;
    background-color: #1face1;
    color: white;
    border: none;
    padding: 10px;
}
/* end header  */
/* tranier  */
.s-trainer-1 {
    margin-top: 50px;
}
.s-trainer-1 .s_head_trainer {
    text-align: center;
}
.s-trainer-1 .s_head_trainer .s_introduce {
    color: #1face1;
    font-weight: 800;
}
.s-trainer-1 #s_card_trainer {
    margin: 30px 0;
}
.s-trainer-1 #s_card_trainer .s_info_trainer {
    text-align: center;
}
.s-trainer-1 #s_card_trainer .s_info_trainer .s_name {
    color: #1face1;
    font-weight: 800;
    font-size: 30px;
}
.s-trainer-1 #s_card_trainer .s_info_trainer .s_subject {
    color: #222d35;
    font-size: 15px;
    font-weight: 800;
}
.s-trainer-1 #s_card_trainer .s_social {
    position: relative;
    overflow: hidden;
}
.s-trainer-1 #s_card_trainer .s_social ul {
    position: absolute;
    bottom: 0;
    left: -50px;
    color: white;
    font-size: 20px;
    text-align: center;
    list-style-type: none;
    background-color: #1face1;
    padding: 10px;
    opacity: 0;
    transition: 0.5s;
}
.s-trainer-1 #s_card_trainer .s_social ul li i {
    margin: 10px 0;
    cursor: pointer;
}
.s-trainer-1 #s_card_trainer .s_social:hover ul {
    opacity: 1;
    left: 10px;
}
/* end trainer  */
/* bengin footer  */
.s-footer-1 {
    background-image: url(../img/footer.png);
    background-color: #222d35;
    background-position: center center;
    padding: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin-top: 50px;
}
.s-footer-1 img {
    width: 90px;
}
.s-footer-1 #s_brand span {
    color: #1face1;
    font-size: 30px;
    font-weight: 800;
    display: inline-block;
}
.s-footer-1 #s_brand .s_text {
    color: white;
    margin-top: 30px;
}
.s-footer-1 h3 {
    color: white;
    font-size: 20px;
    font-weight: 800;
}
.s-footer-1 ul {
    padding: 0;
}
.s-footer-1 li {
    list-style-type: none;
    color: white;
    padding: 15px 0;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}
.s-footer-1 li:hover {
    color: #1face1;
}
.s-footer-1 li i {
    margin-right: 10px;
    position: absolute;
    right: 40px;
    transition: 0.5s;
    font-size: 20px;
}
.s-footer-1 li:hover i {
    right: 10px;
    color: #1face1;
}
.s-footer-1 form {
    margin-top: 30px;
}
.s-footer-1 form input {
    color: #434c53;
    padding: 15px;
    outline: none;
}
.s-footer-1 form label {
    display: block;
    color: white;
    background-color: #1face1;
    padding: 15px;
    width: 120px;
    font-size: 13px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}
.s-footer-1 form label:hover {
    transform: scale(0.99);
    opacity: 0.8;
}
.s-footer-1 .container-fluid:first-child {
    border-bottom: 1px solid #434c53;
}
.s-footer-1 .s-subfooter-1 {
    color: white;
    margin-top: 30px;
}
/* end footer  */
